#landing-page-header {
  margin: auto;
  text-align: right;
  margin-top: 35px;
  margin-right: 70px;
}

.background-image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://wallpaperscraft.com/image/ocean_landscape_blue_nature_summer_94121_1920x1080.jpg);
  height: 550px;
  position: relative;
  top: 15px;
  z-index: 2;

}


.page-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 70px;
  font-weight: 800;
  font-family: Open Sans,sans-serif;
  color: white;
  font-size: 56px;
}

.catch-phrase {
  font-size: 36px;
  font-family: Open Sans,sans-serif;
  color: white;
  font-weight: 800px;
}

#about {
  margin-top: 70px;
}

.seciton-title-container {
  margin: auto;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  color: #777;
  font-weight: 800px;
  font-size: 42px;

}



.overview-text, .search-text, .ideas-text, .share-text {
    font-size: 20px;
    line-height: 35px;
    font-family: Open Sans,sans-serif;
    color: #56739E
}

.overview-title, .search-title, .ideas-title, .share-title {
  margin-bottom: 20px;
  color: #56739E;
  text-transform: uppercase;

}


.share-text, .share-title, .search-text, .search-title {
  margin-left: 40px;
}

#overview {
  margin-left: 30px;
  margin-top: 70px;
}

#about-img {
  margin-top: 27px;
  margin-left: 30px;
}

.find-ideas-row {
  margin-top: 25px;
}

.overview-image, .travel-img {
  height: 300px;
  width: 350px;
}

#app-features {
    display: block;
    margin-bottom: 100px;
    margin-top: 25px;
}

#ideas {
  margin-top: 65px;
}

#share {
  margin-top: 35px;
}

.signup-title {
  margin: auto;
  text-align: center;
  color: #56739E;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 42px;
}

.signup-btn {
    background-color: hsla(0,0%,100%,.3);
    color: #88b2cc;
    border: 1px solid #88b2cc;
    padding: .80rem 3.75rem;
    padding-bottom: 1.5rem;
    height: 3.75rem;
    border-radius: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.signup-btn:hover {
  background-color: #88b2cc;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.signup-button-container {
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}

.signup-register-button {
  width: 25%;

}

.share-row {
  margin-top: 25px;
}


@media only screen and (max-width: 64em) {
  .header {
    margin-top: 40px;
    margin-left: 50px;
  }

  #ideas {
    margin-top: 200px;
    margin-bottom: 40px
  }

  #share {
    margin-left: 15px;
  }


}

@media only screen and (max-width: 900px) {
    .page-title {
        font-size: 42px;
    }

    .catch-phrase {
      font-size: 30px;
    }

    .travel-img, #about-img {
      margin-left: 120px;
    }


    .ideas-title, .ideas-text {
      margin-left: 40px;

    }

    #share {
      margin-left: 0px;
      margin-top: 40px;
    }

}

@media only screen and (max-width: 710px) {
    .page-title {
        font-size: 32px;
    }

      .catch-phrase {
        font-size: 22px;

    }

    .overview-text, .search-text, .ideas-text, .share-text {
        font-size: 18px;
        line-height: 28px;
    }

    .overview-title, .search-title, .ideas-title, .share-title {
      font-size: 32px;

  }

  #ideas {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 650px) {
    .travel-img, #about-img {
      margin-left: 80px;

    }
}
@media only screen and (max-width: 600px) {
  #ideas {
    margin-top: 180px;
  }
}

@media only screen and (max-width: 500px) {

  .page-title {
      font-size: 24px;
  }

  .catch-phrase {
    font-size: 16px;
}

  .header {
    margin-top: 65px;
  }

  .overview-image, .travel-img {
    width: 200px;
    height: 150px;
  }

  .travel-img, #about-img {
    margin-left: 90px;
  }

}

@media only screen and (max-width: 425px) {
  #ideas{
    margin-top: 200px;
  }
}
@media only screen and (max-width: 400px) {
  .background-image-container {
    width: 400px;
    height: 400px;
    background-size: contain;
    margin-top: 0px;
  }

    #about {
      width: 350px;
    }

    #ideas {
      margin-top: 200px;
    }


    .overview-text, .search-text, .ideas-text, .share-text {
        font-size: 14px;
        line-height: 22px;
        min-width: 250px;
    }

    .overview-title, .search-title, .ideas-title, .share-title {
      font-size: 26px;
      min-width: 250px;

  }

}

@media only screen and (max-width: 150px) {
  .overview-text, .search-text, .ideas-text, .share-text, .overview-title, .search-title, .ideas-title, .share-title {
      min-width: 200px;
  }

  #ideas {
    margin-top: 250px;
  }


}
