input, textarea {
  padding: 1.45rem 1.35rem;
  height: 3.75rem;
  border-radius: 2.5rem;
  background: hsla(0,0%,100%,.1);
  border: 1px solid hsla(0,0%,100%,.2);
  margin-left: 5px;
  width: 300px;

}

label.post-form-input {
  border: none;
}
.post-form-input {
  border-bottom: 4px solid #d7d8da;
  border-radius: 0%;
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  line-height: 1.42;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 5px;

}

textarea {
  height: 100px;

}
label {
  margin-right: 8px;
}

input:focus, textarea:focus {
  background-color: white;

}

.form-input {
  margin-bottom: 20px;
}

.form-error, .form-warning {
  color: #e67478;
  text-transform: uppercase;
  font-family: Open Sans,sans-serif;
  -webkit-font-feature-settings: "kern","liga","pnum";
  font-feature-settings: "kern","liga","pnum";

}

.auth-label {
  color: hsla(0,0%,100%,.75);
  font-size: 22px;
  margin-left: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 550px) {
  input::placeholder, textarea::placeholder {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  input::placeholder, textarea::placeholder {
    font-size: 10px;
  }
}
