.navigation {
  min-height: 60px;
  background-color: #5d5762;
  font-family: Open Sans,sans-serif;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-top: 0px;
  z-index: 3;

}

.container  {
  margin-right: auto;
  margin-left: auto;

}

.nav-row {
      display: -webkit-flex;
      -webkit-align-items: center;
      display: flex;
      align-items: center;
      vertical-align: middle;
      background-color: #5d5762;
}


.box {
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
  width: 100%;
}

.nav-app-title {
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-top: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.title {
  color: white;
  font-family: Open Sans,sans-serif;
  -webkit-font-feature-settings: "kern","liga","pnum";
  font-feature-settings: "kern","liga","pnum";
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;

}

.title:hover {
  text-decoration: none;
  cursor: pointer;
  color: #88b2cc;

}
.dropdown {
    display: inline-block;
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;

}

.dropdown-items .nav-links {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-items {
    display: block;
}

.dropdown-items .nav-links:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.hide {
  display: none;
}

.nav-links {
  font-size: 14px;
  font-family: Open Sans,sans-serif;
  -webkit-font-feature-settings: "kern","liga","pnum";
  font-feature-settings: "kern","liga","pnum";
  font-size: 1em;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
}



.marg-right {
  margin-right: 30px;
}

.marg-left {
  margin-left: 100px;

}
.nav-links:hover {
  text-decoration: none;
  cursor: pointer;
  color: #88b2cc;

}

.post-search {
  width: 90%
}

#search {
  width: 100%;
  height: 15px;
  background: hsla(0,0%,100%,.1);
  border: 1px solid hsla(0,0%,100%,.2);
  padding: 1.45rem 1.25rem;
  height: 2.25rem;
  border-radius: 1.125rem;
  transition: all .25s ease;
  box-sizing: border-box;
  font-family: Open Sans,sans-serif;
  font-size: 1em;
  margin-bottom: .75em;
  margin-top: .85rem;
}

#search::placeholder {
 color: white;
 font-size: 16px;
}

#search:focus::placeholder {
  color:  #5d5762;
}

#search:focus {
  background-color: white;
  color:  #5d5762;
}
.nav-heading {
  display: inline-block;

}

.right-side {
    margin-right: 10px;
}

.align-right {
  text-align: right;
  margin-right: 20px;
  display: inline-block;
}

.round-button {
    vertical-align: middle;
    cursor: pointer;
    background-color: #88b2cc;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .25s ease;
    font-weight: 800;
    color: hsla(0,0%,100%,.75);
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.75rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.round-button:hover {
  background-color: #56739E;
}

.sort-heading {
  margin-left: 30px;
}

.plus {
  display: inline-block;
  font-size: 24px;
  font-weight: 600px;
  margin-top: 5px;
  margin-left: 1px;
  vertical-align: middle;
  text-align: center;
}

.profile-btn {
  margin-top: 0px;
}

@media only screen and (max-width: 64em) {
    .navigation {
        padding: .5rem;
        display: block;
    }

    .nav-row {
        box-sizing: border-box;
        align-items: center;
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        -webkit-box-flex: 0;
        flex: 0 1 auto;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -.5rem;
        margin-left: -.5rem;
    }

    .dropdown,  .marg-left, .nav-drop {
      display: inline-block;
      margin-left: 5px;
      margin-right: 0px;
    }
}
