.modal-body {
  background-color: #5d5762;
};


.auth-label {
  color: hsla(0,0%,100%,.75);
  font-size: 22px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.auth-button {
  width: 25%;
  margin-left: 15px;
  border: 1px solid #79d1ad;
  color: #79d1ad;
  text-align: center;
}

.auth-button:hover,.register-button:hover {
  background-color: #79d1ad;
}

.auth-close-button {
  width: 25%;
  margin-left: 15px;
  border: 1px solid #e67478;
  color: #e67478;
  float: right;
}

.auth-close-button:hover {
  background-color: #e67478
}

.modal-header, .modal-footer {
  background-color: #4a4756;
  border-bottom: 1px solid #4a4756;

}

.register-button {
  width: 30%;
  border: 1px solid #79d1ad;
  color: #79d1ad;
  margin-left: 15px;
}

.modal-title {
    color: hsla(0,0%,100%,.75);
    text-transform: uppercase;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {

  .auth-button, .auth-close-button, .register-button {
    width: 30%;
  }

}

@media only screen and (max-width: 515px) {
  .auth-button, .auth-close-button, .register-button {
    width: 40%;
  }
}

@media only screen and (max-width: 400px) {
  .auth-button, .auth-close-button, .register-button {
    width: 60%;
  }
}
